.wrapper {
  @apply bg-bgInput transition-shadow w-full p-2 px-4 rounded-3xl outline-none border-none text-textMain;
}

.root {
  @apply bg-bgInput w-full py-1 rounded-3xl text-base outline-none border-none text-textMain;
}

.root:-webkit-autofill {
  webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #323644;
}


.root:-webkit-autofill:focus,
.root:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #3d404b;
}



.label {
  @apply text-textSecondary text-xs transition-colors;
}

.root:focus {
  @apply bg-bgInputFocus;
}

.wrapper:focus-within {
  @apply bg-bgInputFocus shadow-outline;
}

.label:focus-within {
  @apply text-focusColor;
}

