@import '@/app/styles/_variables.css';

.chip {
    position: sticky;
    top: calc(var(--board-card-w) / 2);
    /*left: calc(var(--board-card-w) / 1.5);*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--board-card-w) / 5);
    height: calc(var(--board-card-w) / 5);;
    border-radius: 100%;
    -webkit-box-shadow: 0px 33px 44px 0px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0px 33px 44px 0px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0px 33px 44px 0px rgba(0, 0, 0, 0.3) inset;
    background-color: crimson;
}

.chip div {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 33px 44px -20px rgba(0, 0, 0, 0.28) inset;
    -moz-box-shadow: 0px 33px 44px -20px rgba(0, 0, 0, 0.28) inset;
    box-shadow: 0px 33px 44px -20px rgba(0, 0, 0, 0.28) inset;
}