@import '@/app/styles/_variables.css';

.base {
    @apply border border-solid;
}

.vertical {
    @apply flex flex-col items-center min-w-[50px];

}

.horizontal {
    @apply h-[50px] flex text-xs justify-center items-center;
    width: var(--board-card-w);
}

.angle {
    @apply flex flex-col justify-center items-center;
    width: var(--board-card-w);
    height: var(--board-card-w);
}